@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (2==2)
{
    <div>
        Inside C# Code of Razor View
    </div>
}
else
{
    <div>
        Inside Else Block
    </div>
}